.export-model-wrapper {
    border-radius: 8px;

    .export-fields {
        display: flex;
        flex-direction: column;
        gap: 12px;

        p {
            font-size: 12px;
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
    }

    @media (max-width: 786px) {
        width: 480px !important;
    }

    @media (max-width: 480px) {
        width: 190px !important;

        .MuiButtonBase-root {
            padding: 5px;
            font-size: 12px;
            height: 30px;
        }
    }
}